@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html body {
  text-align: center;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Readex Pro', sans-serif;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5948);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background: linear-gradient(260deg, #fe3072, #ff5940);
  cursor: pointer;
}
/* Nav */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: rgb(254, 48, 114);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

nav .nav-button:disabled {
  background-color: darkgrey;
  color: rgb(254, 48, 114);
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

.logo {
  width: 100px;
  padding: .5rem;
}

.logo:hover {
  cursor: pointer;
}

/* overlay */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%);
}

/* auth-modal */

.auth-modal {
  position: center;
  top: 175px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
}
